.login-form{
 margin: 0 auto;
  /* max-width: 35%; */
  padding: 30px;
  border-radius: 25px;
box-shadow: rgba(46, 149, 240, 0.4) -5px 5px, rgba(46, 201, 240, 0.3) -10px 10px;
}
.login-text{
  font-size: 14px;
}
